[submodule "3rdParty/fmt"]
	path = 3rdParty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "3rdParty/textwolf"]
	path = 3rdParty/textwolf
	url = git@github.com:patrickfrey/textwolf.git
[submodule "3rdParty/lua"]
	path = 3rdParty/lua
	url = https://github.com/lua/lua.git
